.q-badge
  background-color $primary
  background-color var(--q-color-primary)
  color white
  padding 2px 6px
  border-radius $generic-border-radius
  font-size 12px
  line-height 12px
  font-weight normal
  vertical-align baseline

  &--single-line
    white-space nowrap
  &--multi-line
    word-break break-all
    word-wrap break-word

  &--floating
    position absolute
    top -4px
    right -3px
    cursor inherit
    &.q-badge--left
      right initial
      left -3px
    &.q-badge--align-bottom
      top initial
      bottom -3px
    &.q-badge--align-top
      top -3px
      right initial

  &--transparent
    opacity 0.8

  &--outline
    background-color transparent
    border 1px solid currentColor

  &--flat
    background-color: transparent

  &--left
    position absolute
    left -4px

  &--middle
    position absolute
    left 4px
    right 4px
    justify-content center

  &--right
    position absolute
    right -4px

  &--align-top
    top: -4px

  &--align-bottom
    bottom: -4px
